* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message {
  max-width: 80%;
  margin-top: 30px;
  padding: 10px 14px;
  border-radius: 8px;
  line-height: 1.4;
  font-size: 0.95rem;
}

.user-message {
  background-color: #fdfdfd;
  color: #1e3a8a;
  align-self: flex-end;
}

.ai-message {
  background-color: #272424;
  color: #ffffff;
  align-self: flex-start;
}

.chat-input-area {
  padding: 15px;
  border-top: 1px solid #2a2b2e;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.chat-input {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #333436;
  background-color: rgb(49, 45, 45);
  border-radius: 6px;
  outline: none;
}

.chat-input:focus {
  border-color: #2563eb;
  color: white;
}

.send-btn {
  padding: 0 18px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.send-btn:hover {
  background-color: #1d4ed8;
}

.file-input-hidden {
  display: none;
}

.custom-file-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.custom-file-button:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc2626;
  color: white;
  border: none;
  padding: 2px 4px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.delete-btn:hover {
  background-color: #b91c1c;
}

#sidebar {
  position: fixed;
  background-color: #1d1c1c;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  display: flex;
  padding: 14px;
  color: white;
  flex-direction: column;
}
