--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers

pypdf
python-docx

fastapi
uvicorn[standard]
python-multipart

psycopg2-binary
sqlalchemy
pgvector

google-generativeai

python-dotenv

slowapi

pydantic